.anyswap {
  --primary-color: #606bfb;
  --bg-color: #ffffff;
  --text-color: rgb(6, 37, 54);
  --link-color: rgb(115, 75, 226);
  --heading-color: rgb(3,26,110);
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}
